.container {
	height: 1.55rem;
	width: 1.55rem;
	font-weight: 400;
	font-size: 1.1rem;
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		&:checked~.Tick {
			display: block;
		}

		&:checked~.checkmark {
			box-shadow: 0 0 5px 1px #8E41D5;
		}
	}

	.Tick {
		position: absolute;
		top: .170rem;
		left: .200rem;
		display: none;
		font-family: 'Material Icons';
		font-weight: bold;
		color: #274E7D;
	}

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 1.25rem;
		width: 1.25rem;
		border-radius: 4px;
		border: 2px solid #274E7D;
	}
}