.task {
	min-width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 4px 1px #04346C;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;

	.StatusTaskCheckbox {
		display: flex;
		width: 5rem;
		justify-content: center;
		align-items: center;
	}

	.body {
		display: flex;
		flex-direction: column;
		width: 100%;
		cursor: pointer;

		.person {
			font-weight: 600;
			font-style: italic;
		}

		.textTask {
			min-width: 100%;
			max-width: 0;

			&_textDecoration {
				text-decoration: line-through solid #562781;
			}
		}
	}

	.IconButton {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 5rem;
	}
}